{% include "header.html" %}

<body class="hold-transition login-page">
        <div class="login-box">
          <div class="login-logo">
            <a href="../../index2.html"><b>Analyst</b>Login</a>
          </div>
          <!-- /.login-logo -->
          <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
        
            <form action="analystlogin" method="post">
              <div class="form-group has-feedback">
                <input type="email" class="form-control" name="username" placeholder="Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
              </div>
              <div class="form-group has-feedback">
                <input type="password" class="form-control" name="password" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              </div>
      
                <!-- /.col -->
                <div class="col-xs-4">
                  <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
              </div>
            </form>
        
          </div>
          <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->
        
        <!-- jQuery 3 -->
        <script src="../includes/bower_components/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="../includes/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- iCheck -->
        
        </body>
        </html>